/* googleFont */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Font */

$base-font-family: 'Gilroy-ExtraBold';
$sec-font-family:'Quicksand', sans-serif;;

//  Main Colors

$color_1: #3d3d3d;
$background_color_1: grey;
$background_color_2: #666;

$base-color: #182447;
$light-green: #cdefd9;
$xlight-green: #f6fdf9;
$color-darkGray: #1d1d1d;
$color-lightGray: #a2a2a2;
$color-gray: #737373;
$color-fontgray: #565656;
$color-footerBg: #ededed;
$color-newsletterBtn: #75c18e;
$color-placeholder: #75c18e;
$placeholder2 : #c5e6d3;
$table-head: #ebebeb;
$footercolor: #2c2c2c;
